brightness: 100 # Default brightness of the Stream Deck (0-100)
auto_reload: true # Automatically reload the configuration file when it changes
pages:
  - name: Home
    buttons:
      - entity_id: light.outside_lights
        service: light.toggle
        text: |
          Outside
          Lights
      - entity_id: switch.air_conditioner
        icon_mdi: snowflake
        service: switch.toggle
        text: |
          Air
          Conditioner
      - service: script.dinner_time_tv
        icon_mdi: television-classic
        text: |
          Turn
          On TV
      - service: script.clear_pixoo_screen
        icon_mdi: alert-circle-check
        text: |
          Clear
          Screen
      - entity_id: switch.lumi_lumi_plug_switch_2
        icon_mdi: bed
        service: switch.toggle
        text: |
          David's
          Blanket
      - entity_id: switch.davids_heater_switch
        icon_mdi: radiator
        service: switch.toggle
        text: |
          David's
          Heater
      - entity_id: light.davids_bedside_lamp_light
        service: light.toggle
        text: |
          Bedside
          Lamp