[Unit]
Description=Home Assistant Stream Deck YAML Service
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=3
User={{ ansible_user_id }}

# Set this to the path of `home-assistant-streamdeck-yaml`
ExecStart=/usr/bin/python3 {{ ansible_user_dir }}/home-assistant-streamdeck-yaml/home_assistant_streamdeck_yaml.py --allow-weaker-ssl

[Install]
WantedBy=multi-user.target